*{
    margin: 0%;
    padding: 0%;
}
#footernav {
    background-color: #545555;
    color:#ffff;
    padding: 3rem;
}
a{
    text-decoration: none;
}
a:hover{
    color: white;
}
/* img{
    width: 16%;
    padding-bottom: 10%;
} */
.header-menu{
    font-size: x-large;
    font-style: italic;
}