<div id="footernav" class="footernav">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h3><a href="#">Orders</a></h3>
                <p>Fast Shipping</p>
                <p>Live Tracking</p>
                <p>Return Policy</p>
                <p>Terms & Conditions</p>
            </div>
            <div class="col-sm-3" style="padding-top: 2px;">
                <h3><a href="#">About</a></h3>
                <p>Certifications</p>
                <p>Partners</p>
                <p>Clients</p>
                <p> Contact Us</p>

            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                <img class="header-menu-logo" src="../assets/image/nike-logo.jpg" alt="">
                <div class="nav">
                    <div style="margin-right: 10%;"><i class="fa-brands fa-2x fa-twitter"></i></div>
                    <div style="margin-right: 10%;"> <i class="fa-brands fa-2x fa-facebook"></i></div>
                    <div style="margin-right: 10%;"> <i class="fa-brands fa-2x fa-instagram"></i></div>
                    <div> <i class="fa-brands fa-2x fa-github"></i></div>

                </div>
                <div style="margin-top: 5%;">
                    <h3>Enjoy Our Services With Your Valuable Money
                        <i style="margin-left: 3px;" class="fa-solid fa-hand-holding-dollar"></i>
                    </h3>
                    <div style="margin-top: 45px;"><a href="#">
                            <h5><i style="padding-right: 6px;opacity: 1;"
                                    class="fa-solid fa-envelope"></i>srikanth.nike@nendrasys.com</h5>
                        </a></div>
                </div>
            </div>
        </div>



    </div>