<div class="container">
    <div class="row">
        <div class="col-md-6">
            <section class="step-indicator active">
                <div class="step step1 active">
                    <div class="step-icon"></div>
                    <p>Login</p>
                </div>
                <div class="indicator-line active"></div>
                <div class="step step2 active">
                    <div class="step-icon"></div>
                    <p>Shipping</p>
                </div>
                <div class="indicator-line"></div>
                <div class="step step3">
                    <div class="step-icon"></div>
                    <p>Payment</p>
                </div>
                <div class="indicator-line "></div>
                <div class="step step4">
                    <div class="step-icon"></div>
                    <p>Confirmation</p>
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="shipping">
                <div class="shipping_container">
                    <div class="shipping_form">
                        <h1>shipping</h1>
                        <form>
                            <input type="text" formControllerName="name" placeholder="Name">
                            <input type="text" placeholder="Surname">
                            <input type="number" placeholder="Mobile Number">
                            <input type="text" placeholder="Flatno,Houseno,Street">
                            <input type="number" placeholder="Pincode">
                            <input type="text" placeholder="State">
                            <input type="text" placeholder="City"><br>
                            <button class="login_signin_button" routerLink="/payment">proceed to pay</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="container">
                <form>
                    <div class="subtotal_home" *ngIf="shoppingCart.getCartLength()>0">
                        <p>subtotal:({{shoppingCart.getCartLength()}} items)</p>
                        <p><strong>${{shoppingCart.getTotal()}}</strong></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>