<div class="container">
    <div class="row">
        <div class="col-md-6">
            <section class="step-indicator active">
                <div class="step step1 active">
                    <div class="step-icon"></div>
                    <p>Login</p>
                </div>
                <div class="indicator-line active"></div>
                <div class="step step2 active">
                    <div class="step-icon"></div>
                    <p>Shipping</p>
                </div>
                <div class="indicator-line"></div>
                <div class="step step3">
                    <div class="step-icon"></div>
                    <p>Payment</p>
                </div>
                <div class="indicator-line "></div>
                <div class="step step4">
                    <div class="step-icon"></div>
                    <p>Confirmation</p>
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="shipping">
                <div class="shipping_container">
                    <div class="shipping_form">
                        <h1>shipping</h1>
                        <form [formGroup]="adderssForm" novalidate (ngSubmit)="onSubmit()">
                            <div class="shipping_form_body">
                                <input type="text" formControlName="fullname" class="form-control"
                                    placeholder="Full Name" required>

                                <input type="number" formControlName="phonenumber" class="form-control"
                                    placeholder="Mobile Number" required>

                                <input type="text" formControlName="doorno" class="form-control"
                                    placeholder="H.No or Flat No" required>

                                <input type="text" formControlName="street" class="form-control"
                                    placeholder="Street Name" required>

                                <input type="text" formControlName="city" class="form-control" placeholder="City Name"
                                    required>

                                <input type="text" formControlName="state" class="form-control" placeholder="State"
                                    required>

                                <input type="number" formControlName="pincode" class="form-control"
                                    placeholder="pincode" required>

                            </div>
                            <div class="shipping_form_body_button">
                                <button class="btn btn-primary" [disabled]="adderssForm.invalid" routerLink="/payment" type="submit">proceed
                                    to pay</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="container">
                <form>
                    <div class="subtotal_home" *ngIf="shoppingCart.getCartLength()>0">
                        <p>subtotal:({{shoppingCart.getCartLength()}} items)</p>
                        <p><strong>${{shoppingCart.getTotal()}}</strong></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>