<div class="container">
    <div class="row">
        <div class="col-md-6">
            <section class="step-indicator active">
                <div class="step step1 active">
                    <div class="step-icon"></div>
                    <p>Login</p>
                </div>
                <div class="indicator-line "></div>
                <div class="step step2">
                    <div class="step-icon"></div>
                    <p>Shipping</p>
                </div>
                <div class="indicator-line  "></div>
                <div class="step step3">
                    <div class="step-icon"></div>
                    <p>Payment</p>
                </div>
                <div class="indicator-line "></div>
                <div class="step step3">
                    <div class="step-icon"></div>
                    <p>Confirmation</p>
                </div>
            </section>
        </div>
    </div>
    <div class="row" style="width: 30%;margin-top: 5%;margin-left: 20%;">
        <!-- <img class="login-logo" src="../assets/image/nike-logo.jpg" alt="" style="width:60%;"> -->
        <h3 style="font-size: xx-large;font-style:italic;">C-store</h3>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="login">
                <div class="login_container">
                    <div class="login_form">
                        <h1>login</h1>
                        <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
                            <!-- <div class="row"> -->
                            <!-- <div class="mb-2 input"> -->
                                <!-- <label for="username">User Name/E-mail</label> -->
                                <input type="email" class="form-control" formControlName="email"
                                    placeholder="Enter Your User Name or E-mail" required>
                                <!-- <span *ngIf="loginForm.username.touched && !loginForm.username.invalid"> Pleas Enter User Name</span> -->
                            <!-- </div> -->
                            <!-- <div class="mb-2 input"> -->
                                <!-- <label for="password">Password</label> -->
                                <input type="password" class="form-control" formControlName="password"
                                    placeholder="Enter your Password" required>
                                <!-- <span *ngIf="form.passowrd.touched && !form.password.invalid"> Enter your password</span> -->
                            <!-- </div> -->
                        </form>
                            <button class="btn btn-primary" [disabled]="loginForm.invalid" type="submit" routerLink="/shipping">Log In</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3" style="margin-left: 20px;">
            <div class="login">
                <div class="login_container">
                    <div class="login_form">
                        <form style=" height: 175px;padding-top: 60px;">
                            <button class="login_signin_button" routerLink="/shipping">Guest</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="container">
                <form>
                    <div class="subtotal_home" *ngIf="shoppingCart.getCartLength()>0">
                        <p>subtotal:({{shoppingCart.getCartLength()}} items)</p>
                        <p><strong>${{shoppingCart.getTotal()}}</strong></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>