<div class="container">
    <div class="row">
        <div class="col-md-6">
            <section class="step-indicator active ">
                <div class="step step1 active">
                    <div class="step-icon"></div>
                    <p>Login</p>
                </div>
                <div class="indicator-line active "></div>
                <div class="step step2 active">
                    <div class="step-icon"></div>
                    <p>Shipping</p>
                </div>
                <div class="indicator-line active "></div>
                <div class="step step3 active ">
                    <div class="step-icon"></div>
                    <p>Payment</p>
                </div>
                <div class="indicator-line active"></div>
                <div class="step step4 active">
                    <div class="step-icon"></div>
                    <p>Confirmation</p>
                </div>
            </section>
        </div>
    </div>
</div>
<div class="confirmation-title">
    <h1>Congratulations Your Order Is Placed</h1>
    <h1>Thank you For Shopping</h1>
    <p>OrderID:145628</p>
    <div class="container">
        <form>
            <div class="subtotal_home" *ngIf="shoppingCart.getCartLength()>0">
                <p>subtotal:({{shoppingCart.getCartLength()}} items)</p>
                <p><strong>${{shoppingCart.getTotal()}}</strong></p>
            </div>
        </form>
    </div>
    <button routerLink="/" class="btn btn-info">Shop More</button>
</div>
