<div class="container">
    <div class="row">
        <div class="col-md-6">
            <section class="step-indicator active ">
                <div class="step step1 active">
                    <div class="step-icon"></div>
                    <p>Login</p>
                </div>
                <div class="indicator-line active "></div>
                <div class="step step2 active">
                    <div class="step-icon"></div>
                    <p>Shipping</p>
                </div>
                <div class="indicator-line active "></div>
                <div class="step step3 active "routerLink="/confirmation">
                    <div class="step-icon"></div>
                    <p>Payment</p>
                </div>
                <div class="indicator-line "></div>
                <div class="step step4 ">
                    <div class="step-icon"></div>
                    <p>Confirmation</p>
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <form action="" class="input" >
                <input type="radio" (click)="card()" class="form-check-input" id="radio1" name="optradio"
                    value="option1" >
                <label class="form-check-label" for="radio1">Credit Card</label>
                <div class="payment" *ngIf="one">
                    <div class="payment-title">
                        <div class="payment-body">
                            <span class="payment-span"><i class="fa-solid fa-2x fa-credit-card"></i></span>
                        </div>
                        <input class="payment-input" type="number" name="cardnumber" placeholder="Credit Card #" required>
                    </div>
                    <div class="payment-input-type">
                        <label for="month" class="payment-input-group">Expiry :</label>
                        <select name="expmonth" id="month" class="custom-select" required>
                            <option value="0: undefined">month</option>
                            <option value="1:1">1</option>
                            <option value="2:2">2</option>
                            <option value="3:3">3</option>
                            <option value="4:4">4</option>
                            <option value="5:5">5</option>
                            <option value="6:6">6</option>
                            <option value="7:7">7</option>
                            <option value="8:8">8</option>
                            <option value="9:9">9</option>
                            <option value="10:10">10</option>
                            <option value="11:11">11</option>
                            <option value="12:12">12</option>
                        </select>
                        <select name="exyear" id="year" class="custom-select" required>
                            <option value="0">Year</option>
                            <option value="1">2021</option>
                            <option value="2">2022</option>
                            <option value="3">2023</option>
                            <option value="4">2024</option>
                            <option value="5">2025</option>
                            <option value="6">2026</option>
                            <option value="7">2027</option>
                            <option value="8">2028</option>
                            <option value="9">2029</option>
                            <option value="10">2030</option>
                            <option value="11">2031</option>
                        </select>
                    </div>
                    <div class="payment-button">
                        <button class="btn btn-info" routerLink="/confirmation">Placed Order</button>
                    </div>
                </div><br>
                <input type="radio" (click)="del()" class="form-check-input1" id="radio2" name="optradio"
                    value="option2">
                <label class="form-check-label-input" for="radio2">Cash On Delivery</label>
                <div class="payment-button" *ngIf="two">
                    <button class="btn btn-info" routerLink="/confirmation">Placed Order</button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <div class="container">
                <form>
                    <div class="subtotal_home" *ngIf="shoppingCart.getCartLength()>0">
                        <p>subtotal:({{shoppingCart.getCartLength()}} items)</p>
                        <p><strong>${{shoppingCart.getTotal()}}</strong></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>